
table {
    border-collapse: collapse;
}

td {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.playerNames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerNames > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}