table {
    border-collapse: collapse;
}

td {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.controlButtons {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
}

.playerNames {
    display: flex;
    flex-direction: column;
    align-items: center;
}