:root {
    --neon-green: #38f356;
    --neon-blue: #1599ff;
}

body {
    margin: 0;
    background-color: #403e41;
}

h1 {
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: var(--neon-green);
    margin: 0;
    text-shadow: 0 0 15px var(--neon-green);
}

h2 {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: var(--neon-blue);
    text-shadow: 0 0 15px var(--neon-blue);
    margin: 1rem;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
}

label {
    color: var(--neon-green);
    text-shadow: 0 0 15px var(--neon-green);
    font-size: 1.2rem;
    padding: 0.3rem 0.2rem;
    margin: 0.1rem
}

input {
    margin-bottom: 1rem;
    border-radius: 4px;
    border: none;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--neon-green);
    background: #1599ff44;
}

input:focus {
    outline: none;
}

.playerNames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerNames > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.4rem 1.4rem;
    margin: 0.8rem;
    color: var(--neon-green);
    background-color: var(--neon-blue);
    box-shadow: 0 0 15px var(--neon-green);
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: var(--neon-green);
    color: var(--neon-blue);
}

table {
    border-collapse: collapse;
}

td {
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 7rem;
    color: blue;
    height: 10rem;
    width: 10rem;
    color: var(--neon-green);
    text-shadow: 0 0 15px var(--neon-green);
}

#row1, #row2 {
    border-bottom: 5px solid #4eaaffcc;
}

td {
    border-right: 5px solid #4eaaffcc;
}

.last-column {
    border: none;
}




